@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.link {
	@apply text-secondary-100 font-semibold px-6 py-3 rounded hover:text-light-100 transition;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blink-reversed {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.span-blink {
	animation: blink 8s linear infinite;
}

.span-blink-reversed {
	animation: blink-reversed 8s linear infinite;
}

.gradient {
	background: rgb(254, 93, 159);
	background: linear-gradient(
		201deg,
		rgba(254, 93, 159, 1) 0%,
		rgba(1, 23, 47, 0.9612219887955182) 32%,
		rgba(114, 90, 193, 1) 160%
	);
}

.shadow {
	border-color: rgba(254, 93, 159, 1);
	box-shadow: 0 0 40px 40px rgba(254, 93, 159, 1) inset,
		0 0 0 0 rgba(254, 93, 159, 1);
	transition: all 150ms ease-in-out;
}
.shadow:hover {
	box-shadow: 0 0 10px 0 rgba(254, 93, 159, 1) inset,
		0 0 10px 4px rgba(254, 93, 159, 1);
}

.semi-shadow {
	box-shadow: 0 0 10px 10px #f5e6e8 inset;
	transition: all 150ms ease-in-out;
}

.semi-shadow:hover {
	box-shadow: 0 5px 20px #725ac1 inset, 0px 0 10px 2px #725ac1;
}

.container {
	position: relative;
	width: 1100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px;
	cursor: pointer;
}

.card {
	--angle: 0deg;
	border-radius: 4px;
	padding: 1rem;
	position: relative;
	max-width: 300px;
	height: 215px;
	display: flex;
	flex-direction: column;
	transition: 0.3s ease-in-out;
	border: 5px solid transparent;
	box-shadow: inset 0 100vw #01172f, 0 5px 20px #725ac1;
	background-origin: border-box;
	background-image: linear-gradient(
		var(--angle),
		rgba(114, 90, 193, 1),
		rgba(254, 93, 159, 1)
	);
	animation: 5s rotate linear infinite;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

.card:hover {
	height: 320px;
}

.image {
	position: absolute;
	width: 160px;
	height: 160px;
	background-image: linear-gradient(
		var(--angle),
		rgba(114, 90, 193, 1),
		rgba(254, 93, 159, 1)
	);
	animation: 5s rotate linear infinite;
	top: -10%;
	left: 60px;
	box-shadow: 0 5px 20px #725ac1;
	border-radius: 4px;
	z-index: 10;
	border: 5px solid transparent;
}

.title {
	position: relative;
	text-align: center;
	top: 150px;
	transition: 0.3s ease-in-out;
}

.card:hover .title {
	visibility: hidden;
	opacity: 0;
	transition-delay: 0.2s;
}

.content {
	position: relative;
	top: 80px;
	padding: 10px 15px;
	color: #f5e6e8;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
	text-align: justify;
}

.card:hover .content {
	margin-top: 30px;
	visibility: visible;
	opacity: 1;
	transition-delay: 0.2s;
}
