@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.link {
    @apply text-secondary-100 font-semibold px-6 py-3 rounded hover:text-light-100 transition
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blink-reversed {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.span-blink {
	animation: blink 8s linear infinite;
}

.span-blink-reversed {
	animation: blink-reversed 8s linear infinite;
}
